$loop-start: 1 !default;
$loop-end: 32 !default;
$spacer: 0.25rem !default;

// #region PADDING
@for $i from $loop-start through $loop-end {
  .p-#{$i} {
    padding: calc($i * $spacer);
  }
  .pt-#{$i} {
    padding-top: calc($i * $spacer);
  }
  .pr-#{$i} {
    padding-right: calc($i * $spacer);
  }
  .pb-#{$i} {
    padding-bottom: calc($i * $spacer);
  }
  .pl-#{$i} {
    padding-left: calc($i * $spacer);
  }
}
// #endregion

// #region MARGIN
@for $i from $loop-start through $loop-end {
  .m-#{$i} {
    margin: calc($i * $spacer);
  }
  .mt-#{$i} {
    margin-top: calc($i * $spacer);
  }
  .mr-#{$i} {
    margin-right: calc($i * $spacer);
  }
  .mb-#{$i} {
    margin-bottom: calc($i * $spacer);
  }
  .ml-#{$i} {
    margin-left: calc($i * $spacer);
  }
}

.ml-auto {
  margin-left: auto;
}

.ml-right {
  margin-right: auto;
}
// #endregion

// #region FLEX
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
@for $i from $loop-start through $loop-end {
  .gap-#{$i} {
    gap: calc($i * $spacer);
  }
}
// #endregion
