/// Base reset

@mixin apply {
  // Box sizing rules
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Remove default margin
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  // Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  // Set html and body padding/margin to 0 to allow page filling content
  html,
  body {
    padding: 0;
    margin: 0;
  }

  // Set core root defaults
  html:focus-within {
    scroll-behavior: smooth;
  }

  // Set core body defaults
  body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizespeed;
  }

  // Give anchor and button element a cursor pointer
  button,
  a {
    cursor: pointer;
  }

  // A elements that don't have a class get default styles
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  // Make images easier to work with
  img,
  picture {
    display: block;
    max-width: 100%;
  }

  // Inherit fonts for inputs and buttons
  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  // Reset button styles
  button {
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
  }

  // Remove all animations, transitions and smooth scroll for people that prefer not to see them
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      // stylelint-disable declaration-no-important
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
      // stylelint-enable declaration-no-important
    }
  }
}
